/*Reset*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --cor1: #96A0D9;
  --cor2: #57B7F2;
  --cor3: #59D9D9;
  --cor4: #F2C288;
  --cor5: #F2845C;
  --branco:#ffffff;
  --preto: #000000;  
}

/*Default*/
html{
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
}

body {
  background-color: var(--cor3);
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 2rem;
}

.container {
  background-color:var(--branco);
  border-radius: 1rem;
  box-shadow: .3rem .3rem .3rem rgba(0, 0, 0, 0.3);
  padding: 5rem 2rem;
  text-align: center;
  max-width: 100%;
  width: 80rem;
}

h3 {
  opacity: 0.5;
  letter-spacing: .2rem;
  font-size: 1.6rem;
}

.joke {
  font-size: 3rem;
  letter-spacing: .5rem;
  line-height: 4rem;
  margin: 5rem auto;
  max-width: 60rem;
}

.btn {
  background-color: var(--cor5);
  color: var(--branco);
  border: 0;
  border-radius: 1rem;
  box-shadow: .3rem .3rem .3rem rgba(0, 0, 0, 0.3);
  padding: 1.4rem 4rem;
  font-size: 1.6rem;
  cursor: pointer;
}

.btn:active {
  transform: scale(0.98);
}

.btn:focus {
  outline: 0;
}

.btn:hover {
  background-color: var(--cor4);
}